<script lang="ts">
    import Header from "$lib/components/Header.svelte";
</script>

<svelte:head>
    <title>Thank you for using VoteOn.Date</title>
    <meta
        name="description"
        content="A website thanking users for using VoteOn.Date. It allows them to navigate back to the home-page."
    />
    <meta name="robots" content="noindex" />
</svelte:head>

<Header subtitle="…for using VoteOn.Date!" useBrowserNavigation={false}
    >Thank You</Header
>
<section class="background">
    <p>
        We hope you have fun at your meetup! Thank you for using <strong
            >VoteOn.Date</strong
        >. Come back soon!
    </p>
    <hr />
    <div id="actions">
        <a class="button-like" href="/">Go to homepage</a>
        <a class="button-like" href="/create">Create new event</a>
    </div>
</section>

<style lang="scss">
    @use "../../../style/sizes" as s;

    #actions {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        @media (max-width: s.$sm) {
            a {
                width: 100%;
            }
        }
    }
</style>
