<script lang="ts">
    import { page } from "$app/stores";
    import { onMount } from "svelte";

    import Header from "$lib/components/Header.svelte";
    import LinkField from "$lib/components/LinkField.svelte";
    import SuccessDialog from "$lib/components/SuccessDialog.svelte";
    import { fetchData, loadDialogText } from "$lib/helpers/helper.js";

    async function deleteRequest(pollId: string, adminId: string) {
        console.info("Starting delete-request");
        // Send a DELETE request to the backend
        const response = await fetch(`/${pollId}/delete-poll/${adminId}`, {
            method: "DELETE",
        });
        if (response.ok) {
            // Navigate to returned link
            const linkToGoTo = await response.text();
            window.location.assign(linkToGoTo);
        } else {
            console.error(
                `DELETE /${pollId}/delete-poll/${adminId} returned an error.`
            );
        }
    }

    onMount(() => {
        const dialogContent = loadDialogText(pollId);
        if (dialogContent) {
            successDialogHeading = dialogContent;
            showDialog = true;
        }
    });
    let successDialogHeading = "";
    let showDialog = false;

    const origin = $page.url.origin;
    const pathParts = $page.url.pathname.split("/");

    const pollId = pathParts[pathParts.length - 3];
    const adminId = pathParts[pathParts.length - 1];

    const voteLink = `${origin}/${pollId}`;
    const resultsLink = `/${pollId}/results/${adminId}`;
    const editLink = `/${pollId}/edit/${adminId}`;

    let pollTitle = "...";
    fetchData<string>(`/${pollId}/poll-title`)
        .then((t) => (pollTitle = t))
        .catch((e) => console.error(e));

    const pageTitle = "Admin Panel";
    let showConfirmDeletion = false;
</script>

<svelte:head>
    <title>{pageTitle} | VoteOn.Date</title>
    <meta
        name="description"
        content="The admin panel. Contains all actions the admin might need, including inviting participants, inspecting voting-results, and editing and deleting the event."
    />
</svelte:head>

<SuccessDialog heading={successDialogHeading} bind:showDialog />

<Header subtitle={pollTitle} useBrowserNavigation={true}>{pageTitle}</Header>
<section class="background">
    <h2>1. Bookmark this page</h2>
    <p>
        Here, you can
        <strong>edit</strong> the event,
        <strong>view its results</strong> and
        <strong>delete</strong> it. Make sure to save / bookmark this page.
    </p>
    <br />
    <LinkField
        labelText="Link to this page"
        title="{pageTitle} - {pollTitle}"
        link={$page.url.href}
    />
</section>
<section class="background">
    <h2>2. Invite voters</h2>
    <LinkField
        labelText="Send this link to your invitees to let them vote"
        title={pollTitle}
        link={voteLink}
    />
</section>
<section class="background">
    <h2>
        {#if !showConfirmDeletion}
            3. View results, etc...
        {:else}
            4. Confirm deletion
        {/if}
    </h2>
    <p>
        {#if !showConfirmDeletion}
            Make yourself at home and plan your meetup :&#41 <!-- <- This is a smiley :) -->
        {:else}
            This cannot be undone.
        {/if}
    </p>
    <div id="admin-actions">
        {#if !showConfirmDeletion}
            <a class="button-like primary admin-action" href={resultsLink}>
                View results
            </a>
            <a id="editButton" class="button-like admin-action" href={editLink}>
                Edit event
            </a>
            <button
                class="deleteButton admin-action"
                on:click={() => (showConfirmDeletion = true)}
            >
                Delete event
            </button>
        {:else}
            <button
                type="button"
                class="admin-action"
                on:click={() => (showConfirmDeletion = false)}
            >
                Cancel
            </button>
            <button
                type="button"
                class="deleteButton admin-action"
                on:click={() => deleteRequest(pollId, adminId)}
            >
                Delete
            </button>
        {/if}
    </div>
</section>

<style lang="scss">
    @use "../../../../../../style/sizes" as s;

    #admin-actions {
        margin-top: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        #editButton {
            background-color: orange;
            color: black;
        }
        .deleteButton {
            background-color: hsl(0, 100%, 46%);
            color: white;
        }

        @media (max-width: s.$sm) {
            .admin-action {
                flex-grow: 1;
                flex-basis: 0;
            }
            .primary {
                width: 100%;
                flex-basis: auto;
            }
        }
    }
</style>
