FROM rust:latest as builder

RUN curl -sL https://deb.nodesource.com/setup_18.x | bash - \
    && apt-get install -y nodejs

WORKDIR /usr/src/app

RUN cargo install diesel_cli --no-default-features --features postgres

COPY frontend frontend
RUN cd frontend \
    && npm install \
    && npm run build

COPY backend backend
RUN cd backend \
    && cargo build --release



FROM debian:12-slim

# COPY --from=builder /lib/x86_64-linux-gnu/*.so* /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libpq.so.5            /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libgcc_s.so.1         /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libm.so.6             /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libc.so.6             /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libssl.so.3           /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libcrypto.so.3        /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libgssapi_krb5.so.2   /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libldap-2.5.so.0      /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libkrb5.so.3          /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libk5crypto.so.3      /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libcom_err.so.2       /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libkrb5support.so.0   /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/liblber-2.5.so.0      /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libsasl2.so.2         /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libgnutls.so.30       /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libkeyutils.so.1      /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libresolv.so.2        /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libp11-kit.so.0       /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libidn2.so.0          /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libunistring.so.2     /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libtasn1.so.6         /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libnettle.so.8        /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libhogweed.so.6       /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libgmp.so.10          /lib/x86_64-linux-gnu/
COPY --from=builder /lib/x86_64-linux-gnu/libffi.so.8           /lib/x86_64-linux-gnu/

COPY --from=builder /usr/local/cargo/bin/diesel /usr/local/bin/diesel

WORKDIR /usr/src/app
RUN mkdir -p /usr/src/app/backend
COPY --from=builder /usr/src/app/backend/target/release/voteon_date backend/voteon_date
COPY --from=builder /usr/src/app/backend/migrations backend/migrations
COPY --from=builder /usr/src/app/backend/bindings backend/bindings
COPY --from=builder /usr/src/app/backend/Rocket.toml backend/Rocket.toml
COPY --from=builder /usr/src/app/backend/diesel.toml backend/diesel.toml
RUN mkdir -p /usr/src/app/frontend
COPY --from=builder /usr/src/app/frontend/build frontend/build

CMD ["sh", "-c", "cd backend && ./voteon_date"]
