<script lang="ts">
    import Header from "$lib/components/Header.svelte";
</script>

<svelte:head>
    <title>Privacy Policy | VoteOn.Date</title>
    <meta
        name="description"
        content="Describes what information is collected by VoteOn.Date (spoiler: almost none) and how it is used."
    />
</svelte:head>

<Header subtitle="A transparent overview" useBrowserNavigation={false}
    >Privacy Policy</Header
>
<section class="background">
    <h2>How information is collected</h2>
    <p>No cookies, pixels, or other trackers are used.</p>
    <p>
        Data is collected by gathering the user's form inputs, in addition to
        primitive data, such as the date of an event's/vote's creation.
    </p>
    <p>
        <strong>VoteOn.Date</strong> does not require any personally identifiable
        or sensitive information.
    </p>
    <br />

    <h2>How information is used</h2>
    <p>No information is shared with third parties.</p>
    <p>
        Information is only used to directly provide services to
        <strong>VoteOn.Date</strong>'s users.
    </p>
    <br />

    <h2>How to view, change, or delete information</h2>
    <p>
        Upon the creation or editing of an event or vote, the user is shown the
        Admin-/Voter-Panel and prompted to bookmark or save that website's URL.
    </p>
    <p>
        Use the stored link to view, change, or delete the event's/vote's
        information.
    </p>
    <p>
        Additionally, an event's admin may edit or delete the participants'
        votes.
    </p>
    <br />
    <br />
    <p>This Privacy Policy may be subject to change in the future.</p>
    <p>
        Should there be any further questions, please <a href="/about#contact"
            >contact us</a
        >.
    </p>

    <hr />
    <div id="actions">
        <a class="button-like" href="/">Go to homepage</a>
        <a class="button-like" href="/create">Create new event</a>
    </div>
</section>

<style lang="scss">
    @use "../../../style/sizes" as s;

    p {
        margin-bottom: 0.5rem;
    }

    #actions {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        @media (max-width: s.$sm) {
            a {
                width: 100%;
            }
        }
    }
</style>
