/** 
 * These styles are not solely included in ...
 * - One ...Calendar because at some point in time multiple different calendars will use the same style
 * - `styles.scss` because the calendar-styling isn't needed on every page.
 */

@use "variables" as v;

$cal-padding: 0.5rem;
$outer-border-radius: 1rem;
$scroll-view-border-radius: 0.5rem;

#calendar {
    $time-card-width: 4rem;
    $group-border-radius: 0.3rem;
    $section-margin: 0.4rem;

    /* --shadow-height: 2rem;
    --shadow-top: linear-gradient(var(--shadow), transparent) top/100% var(--shadow-height) no-repeat;
    --shadow-right: linear-gradient(90deg, transparent, var(--shadow)) right/var(--shadow-height) 100% no-repeat;
    --shadow-bottom: linear-gradient(transparent, var(--shadow)) bottom/100% var(--shadow-height) no-repeat;
    --shadow-left: linear-gradient(90deg, var(--shadow), transparent) left/var(--shadow-height) 100% no-repeat; */

    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--backdrop-filter);

    position: relative;
    background: var(--background);
    width: v.$content-width;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto v.$content-spacing;
    padding: $cal-padding;
    border-radius: $outer-border-radius;

    #headers-scroll-view {
        //background: var(--shadow-right);
        display: flex;
        overflow: hidden;
        padding-bottom: $section-margin;
        scroll-padding-right: 3rem; // Necessary to prevent offset by scroll-bars
    }

    #time-scroll-view {
        position: relative;
        // Shadows: Remove the following two lines:
        top: -$section-margin;
        margin-bottom: -$section-margin;

        display: flex;
        overflow: auto;
        scroll-snap-type: both mandatory;

        //background: var(--shadow-right), var(--shadow-bottom);

        max-height: 20rem;
        border-radius: $scroll-view-border-radius;

        &.days-only {
            position: static;
            margin-bottom: 0;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            max-height: none;
            //background: none;
        }
    }

    .hour-group {
        $margin-top: $section-margin;

        margin: $margin-top $section-margin 0;
        scroll-margin: $margin-top $section-margin;
        scroll-snap-align: start;
        display: grid;
        gap: 0.1rem;

        &:nth-last-child(1) {
            padding-bottom: $section-margin;
        }
    }

    time {
        transition: v.$trans;

        &[aria-disabled="false"] {
            &:hover,
            &:focus-visible,
            &:-moz-focusring {
                transform: v.$scale;
                box-shadow: 0 0.2rem $section-margin var(--shadow);
            }
        }

        // Styling if `aria-checked==false && aria-disabled==false`
        background: var(--unselected);
        color: var(--unselectedFont);

        display: grid;
        place-items: center;
        width: $time-card-width;
        min-width: $time-card-width;

        user-select: none;
        -webkit-user-select: none;

        &[aria-disabled="true"] {
            opacity: 20%;
            background-color: var(--backgroundFont);
            color: var(--background);
            cursor: not-allowed !important;
        }

        &.time {
            height: 2.5rem;
            font-weight: 700;
            font-size: 1rem;

            &:nth-child(1) {
                border-top-left-radius: $group-border-radius;
                border-top-right-radius: $group-border-radius;
            }

            &:nth-last-child(1) {
                border-bottom-left-radius: $group-border-radius;
                border-bottom-right-radius: $group-border-radius;
            }

            &:global(.hover) {
                transform: v.$scale;
                box-shadow: 0 0.3rem $section-margin var(--shadow);

                &:nth-child(1) {
                    box-shadow: 0 0.2rem $section-margin var(--shadow);
                }
            }
        }

        &.day-like {
            padding: 0.4rem 0.5rem;
            min-height: -moz-fit-content;
            min-height: fit-content;
            max-height: 100%;
            border-radius: $group-border-radius;

            font-size: 1.2rem;
            font-weight: bold;

            .date-num {
                user-select: none;
                -webkit-user-select: none;
                pointer-events: none;
                font-size: 2rem;
                font-weight: bolder;
            }
        }

        &.day {
            @extend .day-like;
            z-index: 10;
            scroll-snap-align: start;
            scroll-margin-left: $section-margin;
            margin: $section-margin $section-margin 0; // margin-top is necessary to avoid clipping shadows
            box-shadow: 0 0.2rem $section-margin var(--shadow);
        }
    }
}
