// MAKE SURE THEME NAMES ARE SHORT AND EASILY UNDERSTANDABLE.
// Char-limit is 25, but they should never get this long.
// Only use hsl/hsla to define colors.

body {
    // These are the variables that HAVE TO BE SET when creating a new theme (unless stated otherwise).
    // Defaut theme:
    --backgroundImage: url("/background_images/people-gc54fd467a_1920.jpg");
    // Used if image can not be loaded. Should have similar color to background.
    --canvas: hsl(181, 100%, 15%);
    --onCanvas: hsl(0, 0%, 100%);
    // Usually inherits from --canvas. Only change when needed.
    --onCanvasFont: var(--canvas);

    --shadow: hsl(0, 0%, 0%);

    --background: hsla(0, 0%, 100%, 0.7);
    --backdrop-filter: blur(4px);
    --backgroundFont: hsl(0, 0%, 0%);

    --onBackground: hsl(181, 100%, 14%);
    --onBackgroundFont: hsl(0, 0%, 100%);

    // Usually inherit from --onBackground(…Font). Only change these when needed.
    --unselected: var(--onBackground);
    --unselectedFont: var(--onBackgroundFont);

    --selected: hsl(181, 68%, 65%);
    --selectedFont: hsl(0, 0%, 0%);

    --error: hsl(0, 100%, 41%);
    // Only used in calendar-bottom-pop-up, at the moment.
    --errorFont: hsl(0, 0%, 100%);

    &[data-theme="Autumn"] {
        --backgroundImage: url("/background_images/road-ge6123f7da_1920.jpg");
        --canvas: hsl(14, 93%, 33%);
        --onCanvas: hsl(0, 0%, 100%);

        --shadow: hsl(0, 0%, 0%);

        --background: hsla(0, 0%, 0%, 0.54);
        --backdrop-filter: blur(3px);
        --backgroundFont: hsl(0, 0%, 100%);

        --onBackground: hsl(115, 34%, 33%);
        --onBackgroundFont: hsl(0, 0%, 100%);

        --selected: hsl(17, 100%, 42%);
        --selectedFont: hsl(0, 0%, 100%);

        --error: hsl(0, 100%, 54%);
        --errorFont: hsl(0, 0%, 100%);

        a:not(.button-like) {
            &:visited {
                color: var(--BackgroundFont);
            }
            &:active {
                color: var(--selected);
            }
        }
    }

    &[data-theme="Coding"] {
        --backgroundImage: url("/background_images/matrix-g4ddc894a7_1920.jpg");
        --canvas: hsl(0, 0%, 0%);
        --onCanvas: hsl(106, 70%, 61%);

        --shadow: hsl(106, 70%, 61%);

        --background: hsla(0, 0%, 0%, 0.6);
        --backdrop-filter: blur(4px);
        --backgroundFont: hsl(106, 70%, 61%);

        --onBackground: hsl(106, 70%, 61%);
        --onBackgroundFont: hsl(0, 0%, 0%);

        --unselected: hsl(0, 0%, 0%);
        --unselectedFont: hsl(106, 70%, 61%);

        --selected: hsl(106, 70%, 61%);
        --selectedFont: hsl(0, 0%, 0%);

        --error: hsl(0, 100%, 39%);
        --errorFont: hsl(0, 0%, 100%);

        font-family: "Courier New", Courier, monospace;
        #themed-favicon {
            --selected: hsl(0, 0%, 0%);
        }
        #calendar time.skip {
            font-family: Arial, Helvetica, sans-serif;
        }
        div.input-parent {
            input[aria-invalid="true"] {
                margin-bottom: 0.1rem;
            }
            span[data-felte-reporter-dom-single-message] {
                padding-top: 0.1rem;
            }
        }
    }

    &[data-theme="Candyland"] {
        --backgroundImage: url("/background_images/candes-g367bc1604_1920.jpg");
        --canvas: hsl(318, 100%, 83%);
        --onCanvas: hsl(0, 0%, 0%);

        --shadow: hsl(0, 0%, 0%);

        --background: hsla(180, 95%, 83%, 0.8);
        --backdrop-filter: blur(4px);
        --backgroundFont: hsl(0, 0%, 0%);

        --onBackground: hsl(332, 100%, 45%);
        --onBackgroundFont: hsl(0, 0%, 100%);

        --selected: hsl(60, 100%, 50%);
        --selectedFont: hsl(0, 0%, 0%);

        --error: hsl(268, 100%, 35%);
        --errorFont: hsl(0, 0%, 100%);

        button,
        .button-like {
            &.canvas-primary {
                background-color: hsl(75, 100%, 47%);
                color: rgb(0, 0, 0);
            }
        }
    }

    &[data-theme="Fire / Ignis"] {
        --backgroundImage: url("/background_images/fireball-g1cc65c87f_1920.jpg");
        --canvas: hsl(22, 87%, 46%);
        --onCanvas: hsl(0, 0%, 100%);
        --onCanvasFont: hsl(0, 99%, 27%);

        --shadow: hsl(0, 0%, 0%);

        --background: hsla(12, 100%, 15%, 0.5);
        --backdrop-filter: blur(5px);
        --backgroundFont: hsl(0, 0%, 100%);

        --onBackground: hsl(0, 100%, 41%);
        --onBackgroundFont: hsl(0, 0%, 100%);

        --selected: hsl(60, 100%, 55%);
        --selectedFont: hsl(0, 0%, 0%);

        --error: hsl(40, 100%, 50%);
        --errorFont: hsl(0, 0%, 0%);

        a:not(.button-like) {
            &:visited {
                color: var(--backgroundFont);
            }
            &:active {
                color: var(--selected);
            }
        }
    }

    &[data-theme="Halloween"] {
        --backgroundImage: url("/background_images/pumpkin-g33b9028b8_1920.jpg");
        --canvas: hsl(0, 0%, 0%);
        --onCanvas: hsl(39, 100%, 50%);

        --shadow: hsl(60, 100%, 50%);

        --background: hsla(22, 100%, 18%, 0.7);
        --backdrop-filter: blur(3px);
        --backgroundFont: hsl(60, 100%, 94%);

        --onBackground: hsl(0, 0%, 0%);
        --onBackgroundFont: hsl(40, 100%, 50%);

        --selected: hsl(60, 100%, 50%);
        --selectedFont: hsl(0, 0%, 0%);

        --error: hsl(10, 92%, 43%);
        --errorFont: hsl(0, 0%, 100%);

        a:not(.button-like) {
            &:visited {
                color: var(--backgroundFont);
            }
            &:active {
                color: var(--selected);
            }
        }
    }

    &[data-theme="Octopus"] {
        --backgroundImage: url("/background_images/whale-g3c42402dc_1920.jpg");
        --canvas: hsl(205, 97%, 29%);
        --canvasFont: hsl(0, 0%, 100%);

        --shadow: hsl(0, 0%, 0%);

        --background: hsla(308, 100%, 86%, 0.8);
        --backdrop-filter: blur(4px);
        --backgroundFont: hsl(0, 0%, 0%);

        --onBackground: hsl(0, 99%, 27%);
        --onBackgroundFont: hsl(0, 0%, 100%);

        --selected: hsl(0, 0%, 100%);
        --selectedFont: hsl(0, 99%, 27%);

        --error: hsl(0, 100%, 50%);
        --errorFont: hsl(0, 0%, 100%);

        #body-bg {
            background-position: right;
        }
    }

    &[data-theme="Spring"] {
        --backgroundImage: url("/background_images/flowers-ga64f4ad6f_1920.jpg");
        --canvas: hsl(206, 98%, 82%);
        --onCanvas: hsl(0, 0%, 100%);
        --onCanvasFont: hsl(0, 0%, 0%);

        --shadow: hsl(0, 0%, 0%);

        --background: hsla(0, 0%, 100%, 0.7);
        --backdrop-filter: blur(4px);
        --backgroundFont: hsl(0, 0%, 0%);

        --onBackground: hsl(128, 56%, 24%);
        --onBackgroundFont: hsl(0, 0%, 100%);

        --unselected: hsl(120, 100%, 77%);
        --unselectedFont: hsl(0, 0%, 0%);

        --selected: hsl(342, 100%, 82%);
        --selectedFont: hsl(0, 0%, 0%);

        --error: hsl(0, 100%, 36%);
        --errorFont: hsl(0, 0%, 100%);
    }

    &[data-theme="Summer"] {
        --backgroundImage: url("/background_images/maldives-gae84ad69c_1920.jpg");
        --canvas: hsl(206, 100%, 80%);
        --onCanvas: hsl(65, 90%, 92%);
        --onCanvasFont: hsl(0, 0%, 0%);

        --shadow: hsl(0, 0%, 0%);

        --background: hsla(60, 100%, 97%, 0.7);
        --backdrop-filter: blur(4px);
        --backgroundFont: hsl(0, 0%, 0%);

        --onBackground: hsl(202, 100%, 18%);
        --onBackgroundFont: hsl(0, 0%, 100%);

        --unselected: hsl(175, 100%, 46%);
        --unselectedFont: hsl(202, 100%, 18%);

        --selected: hsl(60, 100%, 50%);
        --selectedFont: hsl(0, 100%, 28%);

        --error: hsl(0, 100%, 36%);
        --errorFont: hsl(0, 0%, 100%);
    }

    &[data-theme="Winter"] {
        --backgroundImage: url("/background_images/woman-gfa094d75a_1920.jpg");
        --canvas: hsl(0, 0%, 97%);
        --onCanvas: hsl(187, 58%, 31%);

        --shadow: hsl(0, 0%, 0%);

        --background: hsla(60, 4%, 10%, 0.7);
        --backdrop-filter: blur(3px);
        --backgroundFont: hsl(0, 0%, 100%);

        --onBackground: hsl(0, 0%, 97%);
        --onBackgroundFont: hsl(0, 0%, 0%);

        --unselected: hsl(187, 58%, 31%);
        --unselectedFont: hsl(0, 0%, 100%);

        --selected: hsl(0, 0%, 97%);
        --selectedFont: hsl(0, 0%, 0%);

        --error: hsl(0, 100%, 36%);
        --errorFont: hsl(0, 0%, 100%);

        #themed-favicon {
            --selected: hsl(187, 58%, 31%);
        }
    }
}
