<script lang="ts">
    import { page } from "$app/stores";
    import { onMount } from "svelte";

    import Header from "$lib/components/Header.svelte";
    import InfoBadge from "$lib/components/InfoBadge.svelte";
    import LinkField from "$lib/components/LinkField.svelte";
    import SuccessDialog from "$lib/components/SuccessDialog.svelte";
    import {
        fetchData,
        loadDialogText,
        sendUnsetAdminEditedRequest,
    } from "$lib/helpers/helper.js";
    import type { BareUserVote } from "$lib/../../../backend/bindings/BareUserVote";

    async function deleteRequest(pollId: string, voteId: string) {
        console.info("Starting delete-request");
        // Send a POST request to the backend
        const response = await fetch(`/${pollId}/delete-vote/${voteId}`, {
            method: "DELETE",
        });
        if (response.ok) {
            // Navigate to returned link
            const linkToGoTo = await response.text();
            window.location.assign(linkToGoTo);
        } else {
            console.error(
                `DELETE /${pollId}/delete-poll/${voteId} returned an error.`
            );
        }
    }

    onMount(() => {
        const dialogContent = loadDialogText(pollId);
        if (dialogContent) {
            successDialogHeading = dialogContent;
            showDialog = true;
        }
    });
    let successDialogHeading = "";
    let showDialog = false;

    const pathParts = $page.url.pathname.split("/");

    const pollId = pathParts[pathParts.length - 3];
    const voteId = pathParts[pathParts.length - 1];

    const updateLink = `/${pollId}/update/${voteId}`;

    let pollTitle = "...";
    fetchData<string>(`/${pollId}/poll-title`)
        .then((t) => (pollTitle = t))
        .catch((e) => console.error(e));

    let showAdminEditedInfo = false;
    fetchData<BareUserVote>(`/${pollId}/vote-data/${voteId}`)
        .then((v) => (showAdminEditedInfo = v.adminEdited))
        .catch((e) => console.error(e));

    const pageTitle = "Voter Panel";
    let showConfirmDeletion = false;
</script>

<svelte:head>
    <title>{pageTitle} | VoteOn.Date</title>
    <meta
        name="description"
        content="The voter panel. Contains all actions the participant might need, such as updating and deleting the vote."
    />
</svelte:head>

<SuccessDialog heading={successDialogHeading} bind:showDialog />

<Header subtitle={pollTitle} useBrowserNavigation={true}>
    {pageTitle}
</Header>
<InfoBadge
    showBadge={showAdminEditedInfo}
    text="The event's admin has edited this vote."
    onClose={() => sendUnsetAdminEditedRequest(pollId, voteId)}
/>
<section class="background">
    <h2>Thank you for voting!</h2>
    <p>Your host will schedule your event and contact you.</p>
</section>
<section class="background">
    <h2>Bookmark this page</h2>
    <p>
        Here, you can
        <strong>update</strong> your vote or
        <strong>delete</strong> it. If you think you might be interested in those
        actions, make sure to save / bookmark this page.
    </p>
    <br />
    <LinkField
        labelText="Link to this page"
        title="{pageTitle} - {pollTitle}"
        link={$page.url.href}
    />
</section>
<section class="background">
    <h2>
        {#if !showConfirmDeletion}
            Voter actions
        {:else}
            Confirm deletion
        {/if}
    </h2>
    <div id="voter-actions">
        {#if !showConfirmDeletion}
            <a
                id="updateButton"
                class="voter-action button-like"
                href={updateLink}
            >
                Update vote
            </a>
            <button
                class="voter-action deleteButton"
                on:click={() => (showConfirmDeletion = true)}
            >
                Delete vote
            </button>
        {:else}
            <button
                type="button"
                class="voter-action"
                on:click={() => (showConfirmDeletion = false)}
            >
                Cancel
            </button>
            <button
                type="button"
                class="voter-action deleteButton"
                on:click={() => deleteRequest(pollId, voteId)}
            >
                Delete
            </button>
        {/if}
    </div>
</section>

<style lang="scss">
    @use "../../../../../../style/sizes" as s;

    #voter-actions {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        #updateButton {
            background-color: orange;
            color: black;
        }
        .deleteButton {
            background-color: hsl(0, 100%, 46%);
            color: white;
        }

        @media (max-width: s.$sm) {
            .voter-action {
                flex-grow: 1;
                flex-basis: 0;
            }
        }
    }
</style>
