<script lang="ts">
    import { page } from "$app/stores";

    import ErrorIndicator from "$lib/components/ErrorIndicator.svelte";
    import Header from "$lib/components/Header.svelte";
    import InfoBadge from "$lib/components/InfoBadge.svelte";
    import VoteForm from "$lib/components/VoteForm.svelte";
    import type { Poll } from "$lib/../../../backend/bindings/Poll";
    import type { BareUserVote } from "$lib/../../../backend/bindings/BareUserVote";
    import {
        chooseURL,
        fetchData,
        inAdminMode,
        sendUnsetAdminEditedRequest,
    } from "$lib/helpers/helper.js";

    const pathParts = $page.url.pathname.split("/");
    const pollId = pathParts[pathParts.length - 3];
    const voteId = pathParts[pathParts.length - 1];

    const voterPanelLink = `/${pollId}/vote-links/${voteId}`;
    const isInAdminMode = inAdminMode($page.url);
    const backText = isInAdminMode ? "Results" : "Voter Panel";
    const backURL = chooseURL($page.url, voterPanelLink);

    const emptyPoll = <Poll>{
        pollId: "",
        title: "",
        instruction: "",
        datetimeInterval: 60,
        offeredDatetimes: [new Date().toISOString()],
        theme: "Default",
    };
    const emptyVote = <BareUserVote>{
        name: "",
        comment: null,
        availability: [],
        adminEdited: false,
    };

    const realPoll: Promise<Poll> = fetchData(`/${pollId}/poll-data`);
    const realVote: Promise<BareUserVote> = fetchData(
        `/${pollId}/vote-data/${voteId}`
    );
    realPoll.catch((e) => console.error(e));
    realVote.catch((e) => console.error(e));

    const pageTitle = "Update Vote";
    const actionBtnName = "Update vote";
    const successMessage = "Updated Vote";
</script>

<svelte:head>
    <title>{pageTitle} | VoteOn.Date</title>
    <meta
        name="description"
        content="Edit a vote, changing your name, your comment, or the time slots when you are free."
    />
</svelte:head>

{#await realPoll}
    <Header subtitle="..." {backURL} {backText} useBrowserNavigation={true}>
        {pageTitle}
    </Header>
    <VoteForm
        {actionBtnName}
        requestMethod=""
        {successMessage}
        poll={emptyPoll}
        vote={emptyVote}
    />
{:then poll}
    <Header
        subtitle={poll.title}
        {backURL}
        {backText}
        useBrowserNavigation={true}
    >
        {pageTitle}
    </Header>
    {#await realVote}
        <VoteForm
            {actionBtnName}
            requestMethod=""
            {successMessage}
            {poll}
            vote={emptyVote}
        />
    {:then vote}
        <InfoBadge
            showBadge={vote.adminEdited && !isInAdminMode}
            text="The event's admin has edited this vote."
            onClose={() => sendUnsetAdminEditedRequest(pollId, voteId)}
        />
        <VoteForm
            {actionBtnName}
            requestMethod="PATCH"
            {successMessage}
            {poll}
            {vote}
        />
    {:catch error}
        <ErrorIndicator {error} />
    {/await}
{:catch error}
    <Header
        subtitle="Event could not be loaded"
        {backURL}
        {backText}
        useBrowserNavigation={true}
    >
        {pageTitle}
    </Header>
    <ErrorIndicator {error} />
{/await}
