<script lang="ts">
    import { page } from "$app/stores";
    import LinkField from "./LinkField.svelte";

    export let error: any;

    let showErrorField = false;
    console.error(error);
</script>

<section class="background">
    <h2>Something went wrong</h2>
    <p>
        Should this issue persist, please <a
            href="/about#contact"
            target="_blank">contact us</a
        > so we can fix the problem.
    </p>
    {#if showErrorField}
        <br />
        <LinkField
            labelText="Error on {$page.url.href}"
            title="Error on {$page.url.href}"
            link={error}
        />
    {/if}
    <div id="options">
        <a class="button-like" href={$page.url.href} data-sveltekit-reload
            >Refresh page</a
        >
        <button on:click={() => (showErrorField = !showErrorField)}>
            Toggle error-log
        </button>
    </div>
</section>

<style lang="scss">
    #options {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        a {
            width: min-content;
        }
    }
</style>
