<script lang="ts">
    /**
     * On sipmle pages like `index.html`, set to **false**.
     *
     * Set this to **true** when this component is used on a page
     * that has a dynamic URL.
     * (For example: `hs9eTe/results/GE27qmx`)
     */
    export let useBrowserNavigation: boolean;
</script>

<footer>
    <nav data-sveltekit-reload={useBrowserNavigation ? "" : "off"}>
        <a href="/">Home</a>
        <a href="/create">New Event</a>
        <a href="/about">About</a>
        <a href="/privacy">Privacy Policy</a>
    </nav>
</footer>

<style lang="scss">
    @use "../../style/variables" as v;
    @use "../../style/sizes" as s;

    footer {
        display: flex;
        justify-content: center;

        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: env(safe-area-inset-bottom);

        background: var(--background);
        backdrop-filter: var(--backdrop-filter);
        -webkit-backdrop-filter: var(--backdrop-filter);

        nav {
            display: flex;
            gap: 0 3rem;
            justify-content: center;
            align-items: center;
            width: v.$content-width;
            height: v.$pc-footer-height;

            @media (max-width: s.$sm) {
                flex-direction: column;
                flex-wrap: wrap;
                gap: 0.5rem 1.5rem;
                height: v.$phone-footer-height;
            }

            a {
                text-decoration: none;
                color: var(--backgroundFont);
                &:hover,
                &:focus-visible,
                &:-moz-focusring {
                    text-decoration: underline;
                }
            }
        }
    }
</style>
