<script lang="ts">
    import ThemedFavicon from "./ThemedFavicon.svelte";

    export let subtitle: string;
    export let backURL: string | null = null;
    export let backText: string | null = null;
    /**
     * On sipmle pages like `index.html`, set to **false**.
     *
     * Set this to **true** when this component is used on a page
     * that has a dynamic URL.
     * (For example: `hs9eTe/results/GE27qmx`)
     */
    export let useBrowserNavigation: boolean;

    if (!!backURL !== !!backText) {
        console.error(
            Error(
                `\`backURL\` and \`backText\` BOTH need to be provided/omitted. This was not the case.\n\`backURL\`: ${backURL}\n\`backText\`: ${backText}`
            )
        );
    }
</script>

<div class="background">
    <!-- svelte-ignore a11y-positive-tabindex -->
    <header data-sveltekit-reload={useBrowserNavigation ? "" : "off"}>
        {#if backURL && backText}
            <a href={backURL} tabindex="1">
                <i class="fa-solid fa-angle-left" />
                <span class="link-text">{backText}</span>
            </a>
            <span id="spacer">|</span>
        {/if}
        <a href="/" tabindex="1">
            <ThemedFavicon />
            <span class="link-text">
                Vote<wbr />On<wbr />.Date
            </span>
        </a>
    </header>

    <h1><slot /></h1>
    <p id="subtitle">{subtitle}</p>
</div>

<style lang="scss">
    @use "../../style/sizes" as s;
    @use "../../style/variables" as v;
    @import url(../../../static/icons/css/all);

    header {
        display: flex;
        gap: 1rem;
        justify-content: end;
        align-items: center;
        width: 100%;
        margin: 0 0 0.5rem;

        #spacer {
            font-size: 1.5em;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--backgroundFont);

            &:hover,
            &:focus-visible,
            &:-moz-focusring {
                text-decoration: underline;
            }

            .link-text {
                margin-left: 0.5em;
            }

            @media (max-width: s.$sm) {
                font-size: 1rem;
            }
        }
    }

    #subtitle {
        min-height: 2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }
</style>
