<script lang="ts">
    //import { onMount } from "svelte";
    import { format } from "date-fns";
    import {
        addZero,
        combineDayHourMinute,
        syncScrolling,
        //updateShadows,
    } from "$lib/helpers/helper.js";

    import {
        getMinuteRange,
        getCalendarDays,
        getCalendarHourRange,
        getSkipDatetime,
    } from "$lib/helpers/cal_helper.js";

    export let formName: string;
    export let choosableDatetimeVals: Set<number>;
    export let chosenDatetimeVals: Set<number>;
    export let timeInterval: number;

    //onMount(updateShadows);

    function getDayButtonClass(
        date: Date,
        choosableDatetimeVals: Set<number>,
        chosenDatetimeVals: Set<number>
    ): "disabled" | "selected" | "unselected" {
        const childrenStates: ("disabled" | "selected" | "unselected")[] = [];

        for (const hour of displayedHours) {
            for (const minute of displayedMinutes) {
                const childDateVal = combineDayHourMinute(
                    date,
                    hour,
                    minute
                ).valueOf();
                const childState = getButtonClass(
                    childDateVal,
                    choosableDatetimeVals,
                    chosenDatetimeVals
                );

                if (childState === "unselected") {
                    // If at least one child is unselected, the day-button MUST be unselected.
                    return "unselected";
                } else {
                    childrenStates.push(childState);
                }
            }
        }

        // If all children are selected, the day-button should
        if (!childrenStates.includes("selected")) {
            return "disabled";
        } else {
            return "selected";
        }
    }

    function getButtonClass(
        dateVal: number,
        choosableDatetimeVals: Set<number>,
        chosenDatetimeVals: Set<number>
    ): "disabled" | "selected" | "unselected" {
        if (!choosableDatetimeVals.has(dateVal)) {
            return "disabled";
        } else {
            if (chosenDatetimeVals.has(dateVal)) {
                return "selected";
            } else {
                return "unselected";
            }
        }
    }

    /** Reverses a button's styling by applying the corresponding attribute-value. */
    function toggleState(timeButton: HTMLTimeElement) {
        if (currentSelectionMode === SelectionMode.Select) {
            timeButton.setAttribute("aria-checked", "true");
        } else if (currentSelectionMode === SelectionMode.Unselect) {
            timeButton.setAttribute("aria-checked", "false");
        }
    }

    /** Selects hour and updates the DateTimes to be submitted into the server. */
    function toggleValue(chosenDateVal: number) {
        const wasChosen = chosenDatetimeVals.has(chosenDateVal);

        if (!wasChosen && currentSelectionMode === SelectionMode.Select) {
            chosenDatetimeVals.add(chosenDateVal);
            chosenDatetimeVals = chosenDatetimeVals;
        } else if (
            wasChosen &&
            currentSelectionMode === SelectionMode.Unselect
        ) {
            chosenDatetimeVals.delete(chosenDateVal);
            chosenDatetimeVals = chosenDatetimeVals;
        }
    }

    function setChildrenHover(dayVal: number, setHover: boolean) {
        // Get all buttons belonging to that day
        const timeButtons = document.querySelectorAll(
            `time.time[data-dayValue="${dayVal}"][aria-disabled="false"]`
        );
        // Toggle all buttons belonging to that day
        for (let i = 0; i < timeButtons.length; ++i) {
            const timeButton = <HTMLTimeElement>timeButtons[i];
            if (setHover) {
                timeButton.classList.add("hover");
            } else {
                timeButton.classList.remove("hover");
            }
        }
    }

    /** Toggles the day-card and all its descendants. Activates all their dates. */
    function toggleFullDay(event: MouseEvent | KeyboardEvent, dayVal: number) {
        // Toggle the day-button
        const dayButton = <HTMLTimeElement>event.target;
        toggleState(dayButton);

        // Get all buttons belonging to that day
        const dateVal = dayVal.valueOf();
        const timeButtons = document.querySelectorAll(
            `time.time[data-dayValue="${dateVal}"][aria-disabled="false"]`
        );
        // Toggle all buttons belonging to that day
        for (let i = 0; i < timeButtons.length; ++i) {
            const timeButton = <HTMLTimeElement>timeButtons[i];

            const time = timeButton.getAttribute("datetime");
            if (time) {
                toggleState(timeButton);
                toggleValue(new Date(time).valueOf());
            } else {
                console.error(
                    "No `datetime`-attribute found for some timeButton."
                );
            }
        }
    }

    /**
     * Toggles the day-card belonging to `date` if certain criteria are met:
     * - If all time-cards belonging to that day are selected, select the day.
     * - If not all of them are selected, deselect the day.
     */
    function smartToggleDay(dayVal: number) {
        if (timeInterval < 60 * 24) {
            // Check if all buttons are selected
            const unselectedTimeButtons = document.querySelectorAll(
                `time.time[data-dayValue="${dayVal}"][aria-checked="false"][aria-disabled="false"]`
            );
            let allChildrenAreSelected = unselectedTimeButtons.length === 0;

            // Style day-button according to its child-time-buttons
            const selector = `time.day[data-dayValue="${dayVal}"`;
            const dayButton = document.querySelector(selector);
            if (dayButton) {
                if (allChildrenAreSelected) {
                    dayButton.setAttribute("aria-checked", "true");
                } else {
                    dayButton.setAttribute("aria-checked", "false");
                }
            } else {
                console.error(
                    `Day button for query "${selector}" was not found`
                );
            }
        }
    }

    /**
     * Sets the variable `currentSelectionMode` to the selection-mode that should be used on pointer-overs.
     */
    function setSelectionMode(event: MouseEvent | KeyboardEvent) {
        const timeButton = <HTMLTimeElement>event.target;
        const wasSelected = timeButton.getAttribute("aria-checked") === "true";

        if (wasSelected) {
            currentSelectionMode = SelectionMode.Unselect;
        } else {
            currentSelectionMode = SelectionMode.Select;
        }
    }

    /**
     * Toggles the element affected by some event.
     * Used to Toggle the `<time>`-elements upon click/mouse-drag-over.
     */
    function toggleTimeSlot(
        event: MouseEvent | KeyboardEvent | PointerEvent,
        chosenDateVal: number
    ) {
        const timeButton = <HTMLTimeElement>event.target;
        toggleState(timeButton);
        toggleValue(chosenDateVal);
    }

    /**
     * A more readable representation of whether the mouse selects or unselects
     * the dates it hovers over.
     */
    const enum SelectionMode {
        Unselect = "Unselect",
        Select = "Select",
    }

    let mouseIsDown = false;
    let currentSelectionMode = SelectionMode.Select;

    $: choosableDatetimes = Array.from(
        choosableDatetimeVals,
        (v) => new Date(v)
    );
    $: displayedDates = getCalendarDays(choosableDatetimes, timeInterval);
    $: displayedHours = getCalendarHourRange(choosableDatetimes, timeInterval);
    $: displayedMinutes = getMinuteRange(timeInterval);

    //$: x = true;
</script>

<svelte:window on:mouseup={() => (mouseIsDown = false)} />

<!-- {#each choosableDatetimes as choosable}
    <input
        type="checkbox"
        name="offeredDatetimes"
        value={choosable}
        checked={dateIsIn(choosable, chosenDatetimes)}
    />
    <!- - style="display:none" - ->
{/each} -->

<!-- <div style="display:flex">
    <button type="button" on:click={() => (x = !x)}>Rebuild</button>
    <button type="button" on:click={console.info}>Print</button>
</div> -->

<!-- {#key x} -->
<section
    id="calendar"
    on:keydown={(e) => {
        // Avoid scrolling if space was pressed
        if (e.key === " ") {
            e.preventDefault();
        }
    }}
>
    <slot />
    {#key timeInterval}
        {#if timeInterval < 60 * 24}
            <div id="headers-scroll-view">
                {#each displayedDates as date, dateIdx}
                    {#if date.valueOf() === 0}
                        <time
                            class="day skip"
                            datetime={getSkipDatetime(
                                displayedDates[dateIdx + -1],
                                displayedDates[dateIdx + 1]
                            )}
                            tabindex="-1"
                            aria-disabled="true"
                        >
                            • • •
                        </time>
                    {:else}
                        {@const dayVal = date.valueOf()}
                        {@const dayState = getDayButtonClass(
                            date,
                            choosableDatetimeVals,
                            chosenDatetimeVals
                        )}
                        <time
                            id={date.valueOf().toString()}
                            class="day"
                            datetime={date.toDateString()}
                            data-dayValue={dayVal}
                            role="checkbox"
                            tabindex={dayState === "disabled"
                                ? -1
                                : dateIdx + 1}
                            aria-checked={dayState === "selected"}
                            aria-disabled={dayState === "disabled"}
                            on:mouseover={() => setChildrenHover(dayVal, true)}
                            on:focus={() => setChildrenHover(dayVal, true)}
                            on:mouseout={() => setChildrenHover(dayVal, false)}
                            on:blur={() => setChildrenHover(dayVal, false)}
                            on:mousedown={(e) => {
                                setSelectionMode(e);
                                if (dayState !== "disabled") {
                                    toggleFullDay(e, dayVal);
                                }
                            }}
                            on:keyup={(e) => {
                                if (e.key === " ") {
                                    setSelectionMode(e);
                                    if (dayState !== "disabled") {
                                        toggleFullDay(e, dayVal);
                                    }
                                }
                            }}
                        >
                            {format(date, "iii")}<br />
                            <p class="date-num">{date.getDate()}</p>
                            {format(date, "MMM")}
                        </time>
                    {/if}
                {/each}
            </div>
        {/if}

        <div
            id="time-scroll-view"
            class={timeInterval < 60 * 24 ? "" : "days-only"}
            tabindex="-1"
            on:scroll={(e) => {
                if (timeInterval < 60 * 24) {
                    syncScrolling();
                }
                //updateShadows();
            }}
        >
            {#each displayedDates as date, dateIdx}
                <section
                    aria-describedby={date.valueOf() !== 0 &&
                    timeInterval < 60 * 24
                        ? date.valueOf().toString()
                        : undefined}
                >
                    {#each displayedHours as hour}
                        <div class="hour-group">
                            {#each displayedMinutes as minute}
                                {#if date.valueOf() === 0 && timeInterval < 60 * 24}
                                    <time
                                        class="time skip"
                                        datetime={getSkipDatetime(
                                            displayedDates[dateIdx + -1],
                                            displayedDates[dateIdx + 1]
                                        )}
                                        tabindex="-1"
                                        aria-disabled="true"
                                        on:mousedown={(e) => {
                                            mouseIsDown = true;
                                            setSelectionMode(e);
                                        }}
                                    >
                                        • • •
                                    </time>
                                {:else}
                                    {@const datetime = combineDayHourMinute(
                                        date,
                                        hour,
                                        minute
                                    )}
                                    {@const dayVal = date.valueOf()}
                                    {@const datetimeVal = datetime.valueOf()}
                                    {@const state = getButtonClass(
                                        datetimeVal,
                                        choosableDatetimeVals,
                                        chosenDatetimeVals
                                    )}
                                    <time
                                        class={timeInterval < 60 * 24
                                            ? "time"
                                            : "day-like"}
                                        datetime={datetime.toString()}
                                        data-dayValue={date.valueOf()}
                                        tabindex={state === "disabled"
                                            ? -1
                                            : dateIdx + 1}
                                        role="checkbox"
                                        aria-checked={state === "selected"}
                                        aria-disabled={state === "disabled"}
                                        on:mousedown={(e) => {
                                            mouseIsDown = true;
                                            setSelectionMode(e);
                                            if (state !== "disabled") {
                                                toggleTimeSlot(e, datetimeVal);
                                                smartToggleDay(dayVal);
                                            }
                                        }}
                                        on:keyup={(e) => {
                                            if (e.key === " ") {
                                                setSelectionMode(e);
                                                if (state !== "disabled") {
                                                    toggleTimeSlot(
                                                        e,
                                                        datetimeVal
                                                    );
                                                    smartToggleDay(dayVal);
                                                }
                                            }
                                        }}
                                        on:pointerover={state === "disabled"
                                            ? null
                                            : (e) => {
                                                  if (mouseIsDown) {
                                                      toggleTimeSlot(
                                                          e,
                                                          datetimeVal
                                                      );
                                                      smartToggleDay(dayVal);
                                                  }
                                              }}
                                    >
                                        {#if timeInterval < 60 * 24}
                                            {hour}:{addZero(minute)}
                                        {:else}
                                            {format(date, "iii")}<br />
                                            <p class="date-num">
                                                {date.getDate()}
                                            </p>
                                            {format(date, "MMM")}
                                        {/if}
                                    </time>
                                {/if}
                            {/each}
                        </div>
                    {/each}
                </section>
            {/each}
        </div>
    {/key}
    <div
        id="selection-validation"
        data-felte-reporter-dom-for={formName}
        aria-live="polite"
    />
</section>

<!-- {/key} -->
<style lang="scss">
    @use "../../style/calendar" as c;
    @use "../../style/variables" as v;

    time {
        &.day {
            cursor: pointer;
        }
        &.time,
        &.day-like {
            cursor: cell;
        }

        &[aria-checked="true"] {
            background: var(--selected) !important;
            color: var(--selectedFont) !important;
        }
    }

    #selection-validation {
        position: absolute;
        bottom: c.$cal-padding;
        left: c.$cal-padding;
        z-index: 20;

        width: -moz-fit-content;
        width: fit-content;
        padding: 0.5rem 1rem 0.5rem;
        margin-right: 1rem;

        background-color: var(--error);
        color: var(--errorFont);

        border-top-right-radius: c.$outer-border-radius;
        border-bottom-left-radius: c.$scroll-view-border-radius;

        &:empty {
            display: none;
        }
    }
</style>
