<script lang="ts">
    export let heading: string;
    export let showDialog: boolean;

    // For some reason no other types seem to work.
    let timeout: any = null;

    $: if (showDialog) {
        const dialog = <HTMLDialogElement>(
            document.getElementById("success-dialog")
        );
        dialog.showModal();

        timeout = setTimeout(closeDialog, 3000);
    }

    function closeDialog() {
        if (timeout) {
            clearTimeout(timeout);
        }
        const dialog = <HTMLDialogElement>(
            document.getElementById("success-dialog")
        );
        dialog.close();
        showDialog = false;
    }
</script>

<dialog id="success-dialog" on:click={closeDialog}>
    <div id="backdrop-color" />
    <div id="backdrop-blur" />
    <div id="bg-container">
        <section class="background">
            <div id="dialog-content">
                <h1>{heading}</h1>
                <i class="fa-solid fa-check fa-7x" />
            </div>
        </section>
    </div>
</dialog>

<style lang="scss">
    @use "../../style/variables" as v;
    @import url(../../../static/icons/css/all);

    #success-dialog {
        background: none;
        border: none;

        padding: 0;

        #backdrop-color,
        #backdrop-blur {
            position: fixed;
            width: 100%;
            height: 100%;
        }
        #backdrop-color {
            background: var(--canvas);
            opacity: 50%;
        }
        #backdrop-blur {
            backdrop-filter: var(--backdrop-filter);
            -webkit-backdrop-filter: var(--backdrop-filter);
        }

        #bg-container {
            position: fixed;
            top: 30%;
            z-index: 10;

            width: 100%;

            .background {
                max-width: -moz-fit-content;
                max-width: fit-content;

                #dialog-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h1 {
                        font-size: 3rem;
                        hyphens: none;
                        -webkit-hyphens: none;
                    }
                    i {
                        color: var(--onBackground);
                    }
                }
            }
        }
    }
</style>
