<svg
    viewBox="0 0 128 128.00002"
    version="1.1"
    id="themed-favicon"
    style="height: 1.1rem"
    xmlns="http://www.w3.org/2000/svg"
>
    <!-- xmlns:svg="http://www.w3.org/2000/svg" -->
    <!-- <defs id="defs2" /> -->
    <!-- <g id="layer1"> -->
    <rect
        style="fill:var(--onBackground);fill-opacity:1;stroke-width:0.264583"
        id="rect61"
        width="128"
        height="128"
        x="0"
        y="0"
        ry="10"
    />
    <rect
        style="fill:var(--selected);fill-opacity:1;stroke-width:0.478179"
        id="rect221"
        width="32.208755"
        height="134.79573"
        x="5.499198"
        y="0"
        ry="4.9931235"
        transform="matrix(1,0,0.31350946,0.94958508,0,0)"
    />
    <rect
        style="fill:var(--selected);fill-opacity:1;stroke-width:0.477946"
        id="rect342"
        width="32.180141"
        height="134.78397"
        x="-122.46867"
        y="0"
        ry="4.9926877"
        transform="matrix(-1,0,-0.31325828,0.94966797,0,0)"
    />
    <!-- </g> -->
</svg>
