<script lang="ts">
    import { fade, scale } from "svelte/transition";
    export let name: "fade" | "scale" = "fade";
</script>

{#if name === "scale"}
    <div out:fade={{ duration: 250 }} in:scale={{ duration: 250, delay: 300 }}>
        <slot />
    </div>
{:else if name === "fade"}
    <div out:fade={{ duration: 250 }} in:fade={{ duration: 250, delay: 300 }}>
        <slot />
    </div>
{/if}
