<script lang="ts">
    // Extern imports
    import { addYears } from "date-fns";
    import { createForm } from "felte";
    import { validator } from "@felte/validator-yup";
    import * as yup from "yup";
    import reporterDom from "@felte/reporter-dom";
    import { page } from "$app/stores";
    import { goto } from "$app/navigation";
    // Internal imports
    import ErrorTooltip from "$lib/components/ErrorTooltip.svelte";
    import InfoBadge from "$lib/components/InfoBadge.svelte";
    import SelectionCalendar from "$lib/components/SelectionCalendar.svelte";
    import type { Poll } from "$lib/../../../backend/bindings/Poll";
    import type { BareUserVote } from "$lib/../../../backend/bindings/BareUserVote";
    import {
        chooseURL,
        inAdminMode,
        saveDialogText,
    } from "$lib/helpers/helper.js";

    export let actionBtnName: string;
    export let requestMethod: string;
    export let successMessage: string;

    //export let adminEmail: string | null = null;
    export let poll: Poll;
    export let vote: BareUserVote;

    const isInAdminMode = inAdminMode($page.url);

    let choosableDatetimeVals = new Set(
        poll.offeredDatetimes.map((str) => new Date(str).valueOf())
    );
    let chosenDatetimeVals = new Set(
        vote.availability.map((str) => new Date(str).valueOf())
    );

    const now = new Date();
    const oneYearFromNow = addYears(now, 1);

    let displayErrorTooltip = false;

    // Schema used by "felte" to validate the form and to infer the form's fields.
    const nameMaxLength = 50;
    const commentMaxLength = 200;
    const schema = yup.object({
        name: yup
            .string()
            .trim()
            .required("Input your username.")
            .max(nameMaxLength),
        comment: yup.string().trim().max(commentMaxLength),
        availability: yup
            .array()
            .of(yup.date().required().max(oneYearFromNow))
            .required(),
        adminEdited: yup.bool().default(isInAdminMode),
    });

    const { form, data, errors } = createForm<yup.InferType<typeof schema>>({
        extend: [
            validator({ schema, castValues: true }),
            reporterDom({ single: true }),
        ],
        onSubmit: (values) => {
            if (requestMethod) {
                // Send a request to the backend
                return fetch($page.url.pathname, {
                    method: requestMethod,
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(values),
                });
            }
        },
        onSuccess: async (response) => {
            // Do something with the returned value from `onSubmit`.
            console.info("SUCCESS RESPONSE");
            const linkToGoTo = await (<Response>response).text();

            if (linkToGoTo.length > 50) {
                displayErrorTooltip = true;
                console.error("Bad link:", linkToGoTo);
                return;
            }

            const linkSegments = linkToGoTo.split("/");
            const pollId = linkSegments[linkSegments.length - 3];
            saveDialogText(pollId, successMessage);

            goto(chooseURL($page.url, linkToGoTo));
            console.info("SUCCESS RESPONSE END");
        },
        onError(err) {
            // Do something with the error thrown from `onSubmit`.
            displayErrorTooltip = true;
            console.error("ERROR RESPONSE");
            console.error($data);
            console.error(err);
            console.error("ERROR RESPONSE END");
        },
    });

    $: $data.availability = <(Date & { key: string })[]>(
        Array.from(chosenDatetimeVals, (v) => new Date(v))
    );
</script>

<form use:form on:submit|preventDefault>
    {#if !isInAdminMode}
        <section class="background">
            <p id="instruction">{poll.instruction}</p>
        </section>
    {/if}

    <SelectionCalendar
        formName="availability"
        {choosableDatetimeVals}
        bind:chosenDatetimeVals
        timeInterval={poll.datetimeInterval}
    />

    <!-- <div style={hideAdditionalOpions ? "display:none;" : ""}>
        <section class="background">
            <!- - <div class="input-parent">
                <label for="adminEmail">Your Email</label>
                <input
                    id=="adminEmail"
                    type="email"
                    name="adminEmail"
                    placeholder="None"
                    bind:value={adminEmail}
                    aria-describedby="adminEmail-validation"
                    aria-invalid={!!$errors.adminEmail}
                />
                <div
                    id="adminEmail-validation"
                    data-felte-reporter-dom-for="adminEmail"
                    aria-live="polite"
                />
            </div> -  ->
        </section>
    </div> -->

    <section class="background">
        <div class="input-parent">
            <label for="name">
                {isInAdminMode ? "Name" : "Your name"}
                <abbr title="Required field">*</abbr>
            </label>
            <input
                id="name"
                type="text"
                name="name"
                bind:value={vote.name}
                required
                maxLength={nameMaxLength}
                aria-describedby="name-validation"
                aria-invalid={!!$errors.name}
            />
            <div
                id="name-validation"
                data-felte-reporter-dom-for="name"
                aria-live="polite"
            />
        </div>
        <div class="input-parent">
            <label for="comment">Comment</label>
            <textarea
                id="comment"
                name="comment"
                placeholder="None"
                bind:value={vote.comment}
                maxLength={commentMaxLength}
                aria-describedby="comment-validation"
                aria-invalid={!!$errors.comment}
            />
            <div
                id="comment-validation"
                data-felte-reporter-dom-for="comment"
                aria-live="polite"
            />
        </div>
    </section>

    <InfoBadge
        showBadge={isInAdminMode}
        text="The participant will be notified of updates to the vote."
        onClose={() => undefined}
    />

    <ErrorTooltip displayTooltip={displayErrorTooltip}>
        <div id="bottom">
            <!-- <button
                type="button"
                on:click={() => (hideAdditionalOpions = !hideAdditionalOpions)}
        >
            More options
        </button> -->
            <button type="submit" class="canvas-primary">{actionBtnName}</button
            >
        </div>
    </ErrorTooltip>
</form>

<style lang="scss">
    @use "../../style/variables" as v;

    #instruction {
        max-height: 10rem;
        overflow-y: auto;
        white-space: pre-line;
    }
    #bottom {
        display: flex;
        gap: 1rem;
        margin-bottom: v.$content-spacing;
    }
</style>
