<script lang="ts">
    import Header from "$lib/components/Header.svelte";

    const email = "f.dev@posteo.org";
</script>

<svelte:head>
    <title>About | VoteOn.Date</title>
    <meta
        name="description"
        content="The core design principles of VoteOn.Date and contact-details."
    />
</svelte:head>

<Header subtitle="Goals and contact" useBrowserNavigation={false}>About</Header>
<section class="background">
    <h2>Goals</h2>
    <p>
        <a href="/">VoteOn.Date</a> is designed with the following goals in mind:
    </p>
    <br />
    <ol>
        <li>Ease of use</li>
        <li>Appealing design</li>
        <li>
            Privacy and transparency (<a
                target="_blank"
                href="https://gitlab.com/Glitchy-Tozier/voteon.date"
                >inspect source code</a
            >)
        </li>
    </ol>
</section>
<section class="background">
    <h2 id="contact">Contact</h2>
    <table>
        <tbody>
            <tr>
                <th scope="row">Owner:</th>
                <td>Florian Thaler</td>
            </tr>
            <tr>
                <th scope="row">Location:</th>
                <td>Austria, Vienna</td>
            </tr>
            <tr>
                <th scope="row">Email:</th>
                <td>
                    <a
                        href="mailto:{email}?subject=Feedback&body=This%20website%20is%20so%20awesome!"
                    >
                        {email}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        In case you would like to contribute to the project, you can also <a
            target="_blank"
            href="https://gitlab.com/Glitchy-Tozier/voteon.date/-/issues"
            >open a new issue on GitLab</a
        >.
    </p>
</section>

<style lang="scss">
    table {
        text-align: left;
        margin-bottom: 1rem;

        th {
            padding-right: 0.5rem;
        }
    }
</style>
